
* {
	border:0;
	margin:0;
	padding:0;
}

/* body */
body {
	background:#fff;
	color:#666;
	font:0.75em/100% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	line-height:1.4em;
}

/* general */
a {
	color:#9C0;
	text-decoration:none;
}
a:hover {
	color:#555;
	text-decoration:none;
}


/* header */
#header {
	background:#323232 url('image/background_header.jpg') center repeat-y;
	width:100%;
}
#header:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}
#header_inside {
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	margin:0 auto;
	width:800px;
}
#header_inside h1 {
	color:#fff;
	float:left;
	font:3.2em 'Trebuchet MS', Verdana, sans-serif;
	height:100px;
	line-height:100px;
	margin:0 0 0 20px;
	width:180px;
}
#header_inside h1 span {
	color:#9c0;
}
#header_inside ul {
	float:right;
	height:100px;
	list-style:none;
	width:600px;
}
#header_inside ul li {
	border-right:1px solid #555;
	float:right;
	height:100px;
	list-style:none;
	width:75px;
}
#header_inside ul li a:link{
	
	display:block;
	height:50px;
	line-height:50px;
	padding:50px 0 0;
	text-align:center;
	width:75px;
}
#header_inside ul li a:hover {
	background:#fff;
	color:#111;
}


/* content */
#content {
	position: relative;
	height:100%;
	background:#EFEDF3 url('image/background_content.jpg') center repeat-y;
}

#content_inside {
	background-color: white;
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	margin:0 auto;
	width:800px;
	height:100%;	
}

#content_inside_main {
	background-color: white;
	margin:0 auto;
	padding:20px 1px 1px 1px;
	width:795px;
	min-height: 438px;

}

#content_inside_header{
	background:#9c0;
	line-height:175%;
	margin:0 auto;
	padding:1px 1px 1px 1px;
	width:795px;
	height: 20px;
	color:white;
}
.active{
	margin-top: 1px;
	background:#fff;
	margin-left: 550px;
	width:65px;
	padding:1px 5px 1px 1px;
	color:white;

}


/* footer */
#footer {
	position:absolute;
	background:#323232 url('image/background_footer.jpg') center repeat-y;
	height:100px;
	width:100%;
}

#footer_inside {
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	height:100px;
	margin:0 auto;
	width:800px;
}
#footer_inside p {
	color:#fff;
	line-height:100px;
	text-align:center;
}

/* Tabelas */
.table td {
	border: 2px solid black;
	padding: 6px 13px;
	background: white;
	font-size: 17px;
}	

.table .title td{
	color: #9c0;
	border: 2px solid black;
	background:#323232;
	font-size: 22px;
}



/* Formulários */

.foxform {
	margin-bottom: 64px;
}

.foxform div
{
	padding:2px 0;
	margin:0 0 10px 0;
}
.fox {
	margin-bottom: 64px;
	color:#090974;
}

.fox div{
	padding:2px 0;
	margin:0 0 10px 0;
}
.foxform label {
}
html[dir="rtl"] .foxform label {
	margin-left:3px;
}
html[dir="ltr"] .foxform label {
	float:left;
	margin-right:3px;
}

.foxfield {
	overflow:hidden;
}
.foxfield h2{
	color: green;

}

/* Message area at the top of the form after submit */
.fox_messages {
	color:#505050;
	margin: 24px 0px !important;
	padding: 16px 32px !important;
	box-shadow:0 0 10px rgba(211, 206, 56, 0.7) inset, 0px 0px 7px rgba(211, 206, 56, 0.7);
	border:1px solid #d3ce38;
	border-radius: 5px;
	background: url("../../../media/com_foxcontact/images/message-background.png") repeat-x scroll 0 0 #FFFFFF;
}
.fox_messages li{
	color:#505050;
	background: none !important;
	list-style-type: none !important;
}

.foxform input, .foxform textarea {
	color:#505050;
	background-color: #ffffff;
	border-radius:5px;
	box-shadow:0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
	border:1px solid #c0c0c0;
	margin: 0 3px !important;
	padding: 5px !important;
}
html[dir="rtl"] .foxform input, html[dir="rtl"] .foxform textarea {
	float:left;
}


.foxform input:hover, .foxform textarea:hover,
.foxform input:focus, .foxform textarea:focus {
	border:1px solid #c0c0c0;
	background-color: #9c0;
}
.fox select:hover,.fox select:focus{
	border:1px solid #c0c0c0;
	background-color: #95EE6B;
}
.fox select{
	color:#505050;
	background-color: #ffffff;
	border-radius:5px;
	box-shadow:0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
	border:1px solid #c0c0c0;
	margin: 0 3px !important;
	padding: 5px !important;
	float:right;
}
input.radio{
	float:left;
}

input.foxtext {
	color:#505050;
}


input.invalidfoxtext, textarea.invalidfoxtext {
	box-shadow:0 0 10px rgba(192, 80, 80, 0.7) inset, 0px 0px 7px rgba(192, 80, 80, 0.7);
	border:1px solid #c05050;
}
select.fox {
	box-shadow:0px 0px 7px rgba(192, 192, 192, 0.7);
	margin: 0 3px;

	/* This cause problems witn damned IE if click near borders
	padding: 5px !important;*/
}
select.validfox {
	box-shadow:0px 0px 10px rgba(80, 192, 80, 1.0);
	margin: 0 3px !important;
	padding: 5px !important;
}
select.invalidfox {
	box-shadow:0px 0px 10px rgb(192, 80, 80);
	margin: 0 3px;
	padding: 5px; 
}
.foxcheckbox {
	box-shadow:0 0 10px rgba(192, 192, 192, 1.0) inset, 0px 0px 7px rgba(192, 192, 192, 1.0);
	padding: 0 !important;
}
.validcheckbox {
	box-shadow:0 0 10px rgba(0, 192, 0, 1.0) inset, 0px 0px 7px rgba(0, 192, 0, 1.0);
	padding: 0 !important;
}
.invalidcheckbox {
	box-shadow:0 0 10px rgba(192, 0, 0, 1.0) inset, 0px 0px 7px rgba(192, 0, 0, 1.0);
	padding: 0 !important;
}

.fox-dropdown-container {
	float:right;
	position:relative;
	margin-right:8px !important;
}
